<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439534822386-vlip9e9sp994l0jjt4acc7ct6mvrpb2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439534822386-vlip9e9sp994l0jjt4acc7ct6mvrpb2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDPRnWKegNEfufRhG2T7O2apw5Hjv_-ZJU</string>
	<key>GCM_SENDER_ID</key>
	<string>439534822386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secret.NaNoChat</string>
	<key>PROJECT_ID</key>
	<string>nanochat-284e6</string>
	<key>STORAGE_BUCKET</key>
	<string>nanochat-284e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439534822386:ios:87711081ed3d7d7a9d016b</string>
</dict>
</plist>